    <div class="modal-dialog modal-md">
      	<div class="modal-content">
	        	<div class="modal-body">
	        		<div class="form-group">
	        			<div class="col-xs-12 col-sm-3"><h2><span class="label label-danger">Warning</span></h2></div>
	        			<div class="col-xs-12 col-sm-9"><h3>{{ confirm_message }}</h3></div>
	        		</div>
	        	</div>
        		<div class="modal-footer">
        		  	<a class="btn btn-danger" href="/signin">{{ button_desc }}</a>
        		</div>
      	</div>
    </div>